<div class="email-verification-container">
  <!-- Loading Spinner -->
  <div *ngIf="!status" class="card">
    <div class="spinner"></div>
    <div class="content">
      <h1 class="title">Verifying Email...</h1>
      <p class="description">
        Please wait while we verify your email. This may take a few seconds.
      </p>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="status === 'V'" class="card success">
    <div class="icon">&#x2714;</div>
    <div class="content">
      <h1 class="title">Email Verified!</h1>
      <p class="description">
        Thank you for confirming your email.
      </p>
      <a class="link"role="button" (click)="goToLink(digitalIntakeURL)">Open Patient Intake </a>
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="status === 'E'" class="card error">
    <div class="content">
      <h1 class="title">Verification Failed</h1>
      <p class="description">
        The verification link has expired. Please request contact support for assistance.
      </p>
    </div>
  </div>
</div>