<ngx-spinner></ngx-spinner>
<div class="header">
    <div class="header-content">
        <div class="header-icon">
            <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="header-text">
            <h1>Trusted Devices</h1>
        </div>
    </div>
</div>

<div class="table-container">

    <table class="device-table" *ngIf="trustDevices.length > 0; else noData">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Device ID</th>
                <th class="action-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of trustDevices">
                <td>{{ device.deviceName }}</td>
                <td>{{ device.deviceId }}</td>
                <td class="actions">
                    <div class="btn-group" role="group">
                        <button cButton variant="outline" (click)="revoke(device.deviceId)" size="sm"
                            class="action-btn">
                            Revoke
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #noData>
    <div class="empty-message">
        <img src="assets/images/empty-devices.svg" alt="No Devices" class="empty-img" />
        <h4>No trusted devices found</h4>
        <p>You can add new devices by clicking the button below.</p>
    </div>
</ng-template>

<!-- Floating Add Button -->
<button class="floating-create-btn" (click)="openGenertaeRequest()">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" viewBox="0 0 16 16">
        <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
</button>


<c-modal id="genertaeRequestModal" [visible]="genertaeRequestVisibility" size="lg" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Add New Device</h5>
        <button (click)="toggleGenertaeRequest()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <request-device-registration *ngIf="genertaeRequestVisibility"></request-device-registration>
    </c-modal-body>
</c-modal>