<ngx-spinner></ngx-spinner>
<c-row>
  <c-col xs="6" class="mb-2">
    <c-card>
      <c-card-header>
        <h5>Patients Total Sources</h5>
      </c-card-header>
      <c-card-body>
        <patient-source-bar-chart [clinics]="clinics$"></patient-source-bar-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="6" class="mb-2">
    <c-card>
      <c-card-header>
        <h5>Patients Sources</h5>
      </c-card-header>
      <c-card-body>
        <patient-source-pie-chart [clinics]="clinics$"></patient-source-pie-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card>
      <c-card-header>
        <h4>Total Patients</h4>
      </c-card-header>
      <c-card-body>
        <clinics-patients-chart [clinics]="clinics$"></clinics-patients-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>