<div *ngIf="isLoading" class="email-verification-container">
  <div  class="card">
    <div class="spinner"></div>
    <div class="content">
      <h1 class="title">Registering Device...</h1>
      <p class="description">
        Please wait while we register the device. This may take a few seconds.
      </p>
    </div>
  </div>
</div>

<div class="device-container" *ngIf="!isLoading">
  <div class="card">
    <div class="icon-circle success">
      <span class="material-icons">check_circle</span>
    </div>

    <h1 class="title">Device Registered Successfully</h1>
    <p class="subtitle">Your device <strong>{{ digitalIntakeDevice.deviceName }}</strong> is now linked and ready to use.</p>
  </div>
</div>