<div *ngIf="currentStep === 1" class="step-content">
    <div *ngIf="inCorrectName" class="mb-2">
        <div class="text-danger">Please enter device name</div>
    </div>
    <div class="mb-2">
        <label cLabel for="exampleFormControlInput1">Device name</label>
        <input cFormControl [(ngModel)]="deviceName" sizing="sm" placeholder="Type your device name" class="mb-2">
    </div>
    <div class="mb-2">
        <label cLabel for="exampleFormControlInput1">Select Clinic </label>
        <select aria-label="Default select example" cSelect [(ngModel)]="selectedClinicUUID">
            <option selected disabled value="undefined">Select Clinic </option>
            <option *ngFor="let clinic of (clinics$ |async)" [value]="clinic.uuid">
                {{clinic.name}}
            </option>
        </select>
    </div>
    <button cButton variant="outline" (click)="goToNextStep()" style="float: right;" size="sm">
        <svg cIcon name="cilArrowThickFromLeft"></svg>
    </button>
</div>
<div *ngIf="currentStep === 2" class="step-content">
    <div class="mb-2">
        <p class="fs-5">Scan QR Code to register device with name : <strong>{{deviceName}}</strong></p>
    </div>
    <div class="text-center">
        <qrcode [qrdata]="this.createPatientURL" [errorCorrectionLevel]="'M'" [width]="256"></qrcode>
    </div>
    <button cButton variant="outline" (click)="goTopreviousStep()" style="float: right;">
        <svg cIcon name="cilArrowThickFromRight"></svg>
    </button>
    <div class="countdown-container">
        <div class="countdown-timer">
            <span class="lead">QR will expired after </span>
            <span class="countdown-number lead">{{ minutes }}</span><span class="countdown-label"> min</span>
            <span class="countdown-separator lead">:</span>
            <span class="countdown-number lead">{{ seconds }}</span><span class="countdown-label"> sec</span>
        </div>
        <div class="countdown-expired" *ngIf="expired">
            <span>Time's up!</span>
        </div>
    </div>
</div>