<div class="webcam-container">
    <!-- Webcam view -->
    <div class="webcam-view">
        <h3 class="section-header">Live Webcam</h3>
      <webcam
        [height]="300"
        [width]="400"
        [trigger]="triggerObservable()"
        (imageCapture)="handleImage($event)">
      </webcam>
      <button (click)="captureImage()" class="capture-button">Capture</button>
    </div>
  
    <!-- Captured image preview -->
    <div class="image-preview" *ngIf="webcamImage">
        <h3 class="section-header">Captured Image</h3>
      <img [src]="webcamImage.imageAsDataUrl" alt="Captured image" />
      <button (click)="clearImage()" class="clear-button">Clear</button>
    </div>
  </div>
  