select[formControlName="type"] {
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  select[formControlName="type"]:focus {
    background-color: #f0f0f0; /* Light gray when select is focused (opened) */
  }

  select[formControlName="commercial-ploicyHolder-relationship"] {
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  select[formControlName="commercial-ploicyHolder-relationship"]:focus {
    background-color: #f0f0f0; /* Light gray when select is focused (opened) */
  }

  select[formControlName="compensation-case-status"] {
    background-color: white;
    transition: background-color 0.3s ease;
  }
  
  select[formControlName="compensation-case-status"]:focus {
    background-color: #f0f0f0; /* Light gray when select is focused (opened) */
  }