<ngx-spinner></ngx-spinner>
<c-callout color="danger" *ngIf="isValidForm">
    <span class="text-danger fw-bold">Please fill in all the required fields before navigating to next step</span>
</c-callout>
<div [formGroup]="form" class="mt-3">
    <div formGroupName="insurance">
        <c-row class="mb-2">
            <c-col xs="12"><label style="width: 150px;">Insurance Type <span
                        class="text-danger">*</span></label></c-col>
            <c-col xs="12">
                <select cSelect sizing="sm" style="line-height: 15px;" formControlName="type" [ngClass]="{'is-invalid': this.form.get('insurance')?.get('type')?.invalid
                && this.form.get('insurance')?.get('type')?.touched}">
                    <option value="null" disabled>Select Insurance Type</option>
                    <option *ngFor="let type of types" [value]="type">
                        {{type}}
                    </option>
                </select>
            </c-col>
            <c-col xs="12">
                <div *ngIf="this.form.get('insurance')?.get('type')?.errors?.['required'] === true && 
                    (this.form.get('insurance')?.get('type')?.dirty ||this.form.get('insurance')?.get('type')?.touched)"
                    class="text-danger mx-1">
                    Insurance Type is required
                </div>
            </c-col>
        </c-row>
        <!--Commercial Insurance-->
        <c-card *ngIf="selectedInsuranceType === 'Commercial Insurance'" class="mb-2">
            <c-card-body>
                <h5 cCardTitle>Commercial Insurance</h5>
            </c-card-body>
            <c-card-footer>
                <div class="text-center">
                    <button cButton size="sm">Add</button>
                </div>
            </c-card-footer>
        </c-card>
        <!--Worker's Compensation-->
        <c-card *ngIf="selectedInsuranceType === 'Worker\'s Compensation'" class="mb-2">
            <c-card-body>
                <h5 cCardTitle>Worker's Compensation</h5>
            </c-card-body>
            <c-card-footer>
                <div class="text-center">
                    <button cButton size="sm">Add</button>
                </div>
            </c-card-footer>
        </c-card>
        <!--Medicare-->
        <c-card *ngIf="selectedInsuranceType === 'Medicare'" class="mb-2">
            <c-card-body>
                <h5 cCardTitle>Medicare</h5>
            </c-card-body>
            <c-card-footer>
                <div class="text-center">
                    <button cButton size="sm">Add</button>
                </div>
            </c-card-footer>
        </c-card>
        <!--Medicare-->
        <c-card *ngIf="selectedInsuranceType === 'Medicaid'" class="mb-2">
            <c-card-body>
                <h5 cCardTitle>Medicaid</h5>
            </c-card-body>
            <c-card-footer>
                <div class="text-center">
                    <button cButton size="sm">Add</button>
                </div>
            </c-card-footer>
        </c-card>
    </div>
    <div>
        <c-card>
            <c-card-body>
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Insurance Type</th>
                                <th scope="col">Policy#</th>
                                <th style="width: 15%;">actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </c-card-body>
        </c-card>
    </div>
    <div class="mt-3">
        <button cButton matStepperPrevious size="sm" variant="outline" class="mx-2">Back</button>
        <button cButton variant="outline" size="sm" (click)="next()">Next</button>
    </div>
</div>