<ngx-spinner></ngx-spinner>
<ng-container *ngIf="props$ | async as props" fluid="true">
    <c-smart-table [columns]="columns" [items]="(patientData$ | async) ?? []"
        [itemsPerPage]="props.itemsPerPage" (itemsPerPageChange)="handleItemsPerPageChange($event)"
        [itemsPerPageOptions]="[5,10,20]" [itemsPerPageSelect]="true"
        [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
        [tableProps]="{ hover: true, striped: true  }" [tableBodyProps]="{ align: 'middle' }"
        (sorterValueChange)="handleSorterValueChange($event)" header>
        <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
            let-tdContent="tdContent">
            <td>
                <ng-container [ngSwitch]="columnName">
                    <ng-container *ngSwitchCase="'patientName'">
                        {{item.patient.patientEssentialInformation.patientName.lastName}} 
                        , {{item.patient.patientEssentialInformation.patientName.firstName}}
                    </ng-container>
                    <ng-container *ngSwitchCase="'email'">
                        {{item.patient.patientEssentialInformation.email}} 
                    </ng-container>
                    <ng-container *ngSwitchCase="'gender'">
                        {{item.patient.patientEssentialInformation.gender}} 
                    </ng-container>
                    <ng-container *ngSwitchCase="'phoneNumber'">
                        {{item.patient.patientEssentialInformation.patientPhone.phone}} 
                    </ng-container>
                    <ng-container *ngSwitchCase="'maritalStatus'">
                        {{item.patient.patientEssentialInformation.maritalStatus}} 
                    </ng-container>
                    <ng-container *ngSwitchCase="'patientIntakeUUID'">
                        {{item.patientIntakeUUID}} 
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{tdContent}}
                    </ng-container>
                </ng-container>
            </td>
        </ng-template>
    </c-smart-table>
    <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
        (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
</ng-container>