.checkmark{
	font-size:70px
}
.success-message-section {
	min-height: 100vh;
	background: linear-gradient(to right, #f8f9fa, #e9f1ff);
  }
  
  .success-box {
	max-width: 600px;
	margin: auto;
	animation: fadeInUp 0.6s ease-out;
  }
  
  .icon-circle {
	background-color: #28a745;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: popIn 0.5s ease;
  }
  
  @keyframes fadeInUp {
	from {
	  transform: translateY(30px);
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  @keyframes popIn {
	0% {
	  transform: scale(0.2);
	  opacity: 0;
	}
	100% {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  