<div class="mb-2">
    <label cLabel for="exampleFormControlInput1">Select Clinic </label>
    <select aria-label="Default select example" cSelect [(ngModel)]="selectedClinicUUID">
        <option selected disabled value="undefined">Select Clinic </option>
        <option *ngFor="let clinic of (clinics$ |async)" [value]="clinic.uuid">
            {{clinic.name}}
        </option>
    </select>
</div>
<div *ngIf="selectedClinicUUID ===undefined">
    <label class="text-danger fw-normal fst-italic">Select Clinic to generate digital intake </label>
</div>
<div class="text-center">
    <button cButton (click)="generateQRCode()" [disabled]="selectedClinicUUID ===undefined">Generate</button>
</div>
<hr />
<div *ngIf="isGenerated">
    <p class="text-medium-emphasis small">
        Scan the QR code by tablet to open Digital Intake Submission.Note QR-Code will be expired after one day
    </p>
    <div class="text-center">
        <qrcode *ngIf="isGenerated" [qrdata]="submissionURL" [width]="300" [errorCorrectionLevel]="'H'">
        </qrcode>
    </div>
</div>